* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #F7FAFD;
  margin: auto;
  max-width: 1060px;
  margin-top: 20px;
  min-height: calc(100vh - 80px - 290px);
}

@import "tailwindcss";
